.fretboard-app {
    padding: 2vh 2vw;
}

.menu-section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.menu-item {
    flex-basis: 50%;
    flex-grow: 2;
    padding: 0;
}

form {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

form label {
    width: 30%;
    padding: 3px;
    min-width: 65px;
    max-width: 200px;
    flex-grow: 2;
}

form input[type="number"] {
    flex-basis: 300px;
    flex-grow: 2;
    max-width: 40px;
    padding: 2px;
    background-color: var(--main-bg-colour);
    border: 2px outset var(--almost-black);
    border-radius: 4px;
    /* remove arrows firefox */
   -moz-appearance: textfield;
}

form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Styling the range slider for browser consistancy */

input[type=range] {
    flex-basis: 300px;
    flex-grow: 2;
    min-width: 200px;
    margin: 5px 10px 0 10px;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px outset var(--almost-black);
    border-radius: 40px;
    height: 19px;
    width: 19px;
    margin-top: -7px; /* Chrome needs a margin */
    background: #f7f7f7;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border: 2px outset var(--almost-black);
    border-radius: 40px;
    height: 16px;
    width: 16px;
    background: #f7f7f7;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    border: 2px outset var(--almost-black);
    border-radius: 40px;
    height: 30px;
    width:30px;
    background: #f7f7f7;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    border: 1px solid var(--almost-black);
    border-radius: 20px;
    background: #f7f7f7;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    border: 1px solid var(--almost-black);
    border-radius: 20px;
    background: #f7f7f7;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    border: transparent;
    background: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: #f7f7f7;
    border: 1px solid var(--almost-black);
    border-radius: 20px;
}

/* End of range slider styles */

form select {
    background-color: var(--main-bg-colour);
    border: 2px outset var(--almost-black);
    border-radius: 4px;
    flex-basis: 160px;
    margin-top: 5px;
}

.form-tunings {
    flex-direction: column;
}

.tunings-menu {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
}

.tunings-selector {
    padding: 2px;
    margin: 2px;
    flex-basis: 40px;
    flex-grow: 0;
    max-width: 80px;
    background-color: var(--main-bg-colour);
}


.string {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tile {
    flex: 1 0 10px;
    height: 30px;
    width: 0;
    font-size: 80%;
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-colour);
    border-color: #eee;
    border-width: 1px;
    border-style: inset;
    border-radius: 0;
    overflow: hidden;
}

.tile-active {
    color: white;
    border-style: outset;
}

.tile-root {
    border-width: 5px;
    border-style: solid;
    border-color: white #bbbbbb #bbbbbb white;
}

.tile-active-A {
    background-color: #7a0d0d;
}
.tile-active-A\# {
    background-color: #7a440d;
}
.tile-active-B {
    background-color: #7a7a0d;
}
.tile-active-C {
    background-color: #437a0d;
}
.tile-active-C\# {
    background-color: #0d7a0d;
}
.tile-active-D {
    background-color: #0d7a44;
}
.tile-active-D\# {
    background-color: #0d7a7a;
}
.tile-active-E {
    background-color: #0d447a;
}
.tile-active-F {
    background-color: #0d0d7a;
}
.tile-active-F\# {
    background-color: #430d7a;
}
.tile-active-G {
    background-color: #7a0d7a;
}
.tile-active-G\# {
    background-color: #7a0d44;
}


.frets {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fret {
    flex: 1 0 10px;
    padding: 2px 0 0 0;
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    overflow: hidden;
    position: relative;
}
