.string {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tile {
    flex-basis: 70px;
    flex-grow: 1;
    height: 30px;
    padding: 0;
    display: inline-block;
    background-color: white;
}

.tile-active {
    color: white;
    background-color: darkblue;
}

.frets {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fret {
    flex-basis: 70px;
    flex-grow: 1;
    padding: 0;
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
}
